<div class="dashboard-container">
  <h1>Dashboard</h1>
  <p>Bienvenido al panel de control.</p>

  <div class="contenedor-general">

    <div class="container-graphc">
        <canvas class="grafic" id="salesChart"></canvas>
    </div>
    <div class="container-graphc">
        <canvas class="grafic" id="clientsChart"></canvas>
    </div>

  </div>

  <div class="container-notif">

    <div class="main-notificacion">

      <div class="container-top">
        <span id="titulo">Tittle</span>
        <button>🧷 Visto </button>
      </div>

      <div class="notificacion">
        <span id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit commodi quaerat sed nesciunt consectetur minus laborum corrupti unde dolores exercitationem.
           Repellendus dicta deserunt iure architecto eos animi dolores eligendi provident!
        </span>

        <span id="usuario">
         
        </span>
      </div>


      <div class="container-bottom">
        <span id="usuario">BrunoDepetris@gmail.com</span>
        <span id="fecha">29-11-2001</span>
      </div>
    </div>


  </div>


</div>
