<div class="container-propiedades">
    <h1>Propiedades</h1>
    <p style="  color: #555;
  margin-bottom: 2rem;">Aqui podras ver todas tus propiedades</p>

    <button><span class="material-icons">home</span>Agregar Propiedad</button>
    <div class="container-post-propiedad">
        <div class="propiedad">
            <p class="propietario">
            <span class="material-icons">person_pin</span>
            <strong>Bruno Depetris</strong>
            </p>
  
            <p>
                <span class="material-icons">directions</span>
                pasaje eeuu 344
            </p>

            <p>Impuestos:</p>
            <div id="impuestos" class="content-impuestos">
                <p>gas:300</p>
                 <p>gas:300</p>
                <p>gas:300</p>
    
            </div>
        </div>

    </div>
</div>